// @import './variables.scss';
@import './components.scss';
@import './flex.scss';
@import './typograph.scss';

@function pow($base, $exp) {
    $res: 1;
    @for $i from 1 through $exp {
        $res: $res * $base;
    }
    @return $res;
}

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 1 through 10 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px;
        }
    }
}

@for $i from 1 through 1000 {
    .h-#{$i} {
        height: $i + px;
    }
    .w-#{$i} {
        width: $i + px;
    }
    .pa-#{$i} {
        padding: pow(2, $i) + px;
    }
    .ph-#{$i} {
        padding-left: pow(2, $i) + px;
        padding-right: pow(2, $i) + px;
    }
    .ma-#{$i} {
        margin: pow(2, $i) + px;
    }
    .mt-#{$i} {
        margin-top: pow(2, $i) + px;
    }
    .ml-#{$i} {
        margin-left: pow(2, $i) + px;
    }
}


@for $i from 1 through 10 {
    .opacity-#{$i} {
        opacity: $i / 10;
    }
}

body {
    margin: 0;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.form > * {
    margin-top: 15px;
}

.underline {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.container1 {
    background: #FFFFFF;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.main-color {
    color: #490098;
}

.back-main-color {
    background-color: #490098;
}

.white-color {
    color: #ffffff;
}

.font-weight-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px
}